Tidstämpel,Namn,Jag vill anmäla mig,(Om anmälan sker i par) - Jag vill anmäla mig tillsammans med,Adress där måltiden ska förtäras,Telefonnummer till båda i paret (tydligt vems som är vems),Jag/Vi vill ha förköp till Malmös?,Jag är,Matpreferenser på dig/på någon i paret?,Jag bor (lättare för oss då vi ska försöka minimera cykelsträckan),ÄR DU TAGGAD?!??!
2018-02-19 22.39.04,Pille Nille,Med en vän,Snille Kilel,Party  Nation,0708123456 + 0708654321,"Ja, båda!","Vierist, och får därmed förköp gratis",Veg 2 st,Centralt,JAA!!!
