<body style="background-color: #f4f4f4; padding: 15px;">
  <table style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; background-color: pink; max-width: 500px; margin-top: 20px; margin-right: auto; margin-left: auto; padding:20px;">
    <tbody>
      <tr>
        <td><h2>Lundakarnevalens Imaginala Cykelfest! </h2></td>
      </tr>
      <tr>
      </tr>
        <td>Här kommer en uppdaterad version, detta betyder alltså att det tidigare mejlet du fått in längre gäller! Det är alltså PDFen i detta mejl som är den korrekta!</td>
      <tr>
       <td>&nbsp;</td>
         <tr>
        <td>
        Samma som tidigare gäller dock vid ändringar från och med nu!
        </td>
      </tr>
      <tr>
       <td>&nbsp;</td>
         <tr>
        <td>
        Vid frågor vänligen kontakta Bella Ahlfors!
          </td>
      </tr>
      
        <td>&nbsp;</td>
         <tr>
        <td>
        Vänliga hälsningar, Vieriet<span style="color: #FFDDD3;">(och AIT! #sneakMessage)</span>
          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
     
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</body>
